.main{
        height: 150rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .b1{
        height: 50rems;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .h{
        position: relative;
        top: -50%;
        left: 45%;

        background-color: black;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: inline;
        padding: .5rem;
        font-size: 1.8rem;
        display: flex;
        flex-wrap: wrap;
    
    }
        .hh{
        position: relative;
        top: -50%;
        left: 45%;
        padding: .5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 1.8rem;
          display: flex;
        flex-wrap: wrap;
    
    }
    .t{
        height: 200px;
        
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        flex: 0 0 330px;
        margin: 10px 0px;   
        
    }
    .inner{
        width: 100%;
        height: 80rem; 
        display: flex;
        justify-content: space-around;
        align-content: start;
        flex-wrap: wrap;
    }
  .name{

        position: absolute;
        background-color: black;
        color: white;
        top: .3px;
        margin: 0px;
        font-size: 1.2rem;

        border-radius: 5px;
        padding: 5px;
   
  }
  .nav{
    width: 100%;
    height: 3rem;
    
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    
  }
  .logo
  {
    padding: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .tool{
    
    width: 20rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
  }
  .contact{
    width: 30%;
    height: 90%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding-top:15px ;  
  }
  .pname{
    width: 100%;
    height: 2rems;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px 15px;
  }