.maincontainer{
    height: 500px;
    width: 900px;
    border: 2px solid red;
    position:relative;
}
.firstcontainer{
    height: 200px;
    width: 800px;
    border: 2px solid green;
    position: absolute;
    right: 50px;
    top: 50px;
}
.secondcontainer{
    height: 200px;
    width: 800px;
    border: 2px solid green;
    position: absolute;
    right: -2px;
    top: 200px;
}
.image1{
    height: 150px;
    width: 150px;
    border: 2px solid pink;
    position: absolute;
    left: 25px;
    top: 25px;
border-radius: 50%;
}
p{
    position: relative;
    top: -35%;
    left: 40%;
    color:green ;
    stroke: black ;
    stroke-width: 10px;
    font-weight: 1000;
}
.image2{
    height: 150px;
    width: 150px;
    border: 2px solid pink;
    position: absolute;
    left: 225px;
    top: 25px;
    border-radius: 50%;
}
.image3{
    height: 150px;
    width: 150px;
    border: 2px solid pink;
    position: absolute;
    left: 425px;
    top: 25px;
    border-radius: 50%;
}
.image4{
    height: 150px;
    width: 150px;
    border: 2px solid pink;
    position: absolute;
    left: 625px;
    top: 25px;
    border-radius: 50%;
}
.image5{
    height: 150px;
    width: 150px;
    border: 2px solid blueviolet;
    position: absolute;
    left: 25px;
    top: 225px;
    border-radius: 50%;
}
.image6{
    height: 150px;
    width: 150px;
    border: 2px solid blueviolet;
    position: absolute;
    left: 225px;
    top: 225px;
    border-radius: 50%;
}
.image7{
    height: 150px;
    width: 150px;
    border: 2px solid blueviolet;
    position: absolute;
    left: 425px;
    top: 225px;
    border-radius: 50%;
}
.image8{
    height: 150px;
    width: 150px;
    border: 2px solid blueviolet;
    position: absolute;
    left: 625px;
    top: 225px;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}